<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* Basic styling for tab buttons */
    .tab {
        cursor: pointer;
        display: inline-block;

        margin: 0px -2px 0px 0px;
        padding: 5px 7px 4px 7px; /* top right bottom left */
        cursor: pointer;

        display:inline-block;
        /* padding:.15em .3em; */
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1;

        vertical-align:baseline;
        /* border-radius:.1rem; */
        border-radius: 5px 5px 0 0; /* Top-left and bottom-left corners rounded */

        border: 1px solid var(--global-tab-bg-color);
        background-color: var(--global-bg-color);  // _themes.scss
        /* color: var(--global-tab-fg-color); */
    }

    /* Active tab styling */
    .tab.active {
        color: var(--global-tab-fg-color);
        /* border: 2px solid #787878; */
        background-color: var(--global-tab-active-color);
    }

    /* Tab content styling */
    .tab-content {
        display: none;
        padding-left: 12px;
        padding-right: 0px;
        padding-bottom: 32px;
        /* margin-top: 111px; */
        border: 2px solid var(--global-tab-bg-color); 
        border-left: none;
        border-right: none;
        /* border-bottom: none; */
    }

    /* Show active tab content */
    .tab-content.active {
        display: block;
        margin-top: 0rem;
        padding-top: 0rem;

        /* border: 1px dashed #bdbdbd; */
    }
</style>


<body>

    <!-- Tab buttons -->
    <div style="padding-top:2px;">
      <span class="tab active" onclick="openTab('tab_all')">All</span>
      <span class="tab" onclick="openTab('tab_selected')">Selected papers</span>
      <span class="tab" onclick="openTab('tab_opt')">Optimization</span>
      <span class="tab" onclick="openTab('tab_imaging')">Image processing</span>
      <span class="tab" onclick="openTab('tab_learning')">Machine learning</span>
    </div>

    <!-- Tab contents -->    
    <div id="tab_all" class="tab-content active">
      <div class="publications" style="padding-top:rem;margin-top:0rem;">
        {% bibliography %}
      </div>
    </div>
    <div id="tab_selected" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[selected=true] %}
      </div>
    </div>
    <div id="tab_opt" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[cate_primary=optimization || cate_secondary=optimization] %}
      </div>
    </div>
    <div id="tab_imaging" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[cate_primary=imaging || cate_secondary=imaging] %}
      </div>
    </div>
    <div id="tab_learning" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[cate_primary=learning || cate_secondary=learning] %}
      </div>
    </div>

    <script>
        function openTab(tabId) {
            // Get all elements with class="tab-content" and hide them
            const tabContents = document.querySelectorAll('.tab-content');
            tabContents.forEach(content => content.classList.remove('active'));

            // Get all elements with class="tab" and remove the class "active"
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => tab.classList.remove('active'));

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabId).classList.add('active');
            document.querySelector(`.tab[onclick="openTab('${tabId}')"]`).classList.add('active');
        }
    </script>

</body>